html, body {
    font-family: 'Inter', sans-serif;
}

/* .atp-widget {
    .atp-widget-name {
        padding-bottom: 6px;
        border-bottom: solid 1px #eee;
        margin-bottom: 6px;
    }
} */