html, body {
  font-family: 'Inter', sans-serif;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

p, small {
  font-weight: 500;
}

.atp-widget {
  margin-bottom: 1rem;
}

.atp-page-header {
  padding: 2rem;
  background: #f6f7f7;
}

.atp-page-header h1 {
  font-size: 1.5rem;
}

.menu-link, .menu-vertical .menu-item .menu-link {
  font: 500 16px "Inter";
}

.app-brand-logo img, .app-brand-logo svg {
  width: 100%;
  height: auto;
}

.atp-notif-list li:last-child {
  border-bottom: none;
}

.atp-notif-item {
  border-bottom: dashed 1px #ddd;
}

.atp-table-box {
  border: solid 1px #eee;
  border-radius: 0.438rem;
}

.atp-table-pagination {
  border-top: solid 1px #eee;
  padding-top: 1rem;
}

.atp-table-toolbar {
  border-bottom: solid 1px #eee;
  margin-bottom: 1rem;
}
